.titulo__descripcionSeccionBarraPorcentaje{
    font-size: 20px;
    /* color: white; */
    font-weight: 500;

}
.contenido__descripcionSeccionBarraPorcentaje{
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 18px;
}
.subtitulo__descripcionSeccionBarraPorcentaje{
    padding-top: 10px;
    font-size: 15px;
    color:  #7a7877; 
}